<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Xcontent-type" content="text/html">    
    <title><%= title %></title>
    <link rel='stylesheet' 
    href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' 
    crossorigin="anonymous"/>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body class="conteiner">
    <header>
        <h1 class="display-4">
            <%= title %>
        </h1>            
        <a href="/bets">馬券登録画面へ</a>
    </header>
  </body>
</html>
